.gridContainer {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 5%;
  width: 90%;
}

.container {
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.welcome {
  white-space: pre-line;
  text-align: center;
  width: 60%;
}

.separator {
  border: 2px solid #f0f0f0;
  width: 100%;
}

.madeBy {
  margin: 25px !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 24px;
}



@media (max-width: 600px) {
  .gridContainer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
  }

  .madeBy {
    margin:10px !important;
  }

  .welcome {
    width: 90%;
  }
}