.gridContainer {
  padding-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
}

.welcome {
  white-space: pre-line;
  text-align: center;
  width: 60%;
}

.separator {
  border: 2px solid #f0f0f0;
  width: 100%;
}

.madeBy {
  margin: 25px !important;
}

@media (max-width: 600px) {
  .gridContainer {
    width: 90%;
  }
  .madeBy {
    margin: 0
  }
  .welcome {
    width: 90%;
  }
}