.container {
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding: 0 !important;
  background: linear-gradient(to top right, #000000,#000000,#000000, #000000,#000000, #800080) !important;

}