.container {
  display: flex;
  width: 100%;
  flex: 100%;
  animation: enter 0.5s ease-in;

}

@keyframes enter {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;

  }
}

.menuButton {
  position: absolute !important;
  bottom: 4%;
  right: 12%;
}