.container {
  overflow: hidden;
  width: 20%;
  flex-grow: 1;

  transition: all 0.8s ease 0.3s;
}


.addItemContainer {
  overflow: hidden;
  flex-grow: 1;
}

.list {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-self: center;
  animation: enter 0.5s ease-in;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.container:hover {
  flex-grow: 100;
}

.fab {
  margin-top: 15px;
  position: sticky;
  top: 30%;
  bottom: 4vh;
  width: 25px;
}

.listContainer {}

@media (max-width: 600px) {
  .list {
    flex-direction: column;
  }

  .container {
    width: 100%;
  }
}

@keyframes enter {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}