.container {
  width: 50%;
  min-width: 250px;
}

.listContainer {}

@keyframes enter {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.list {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-self: center;
  animation: enter 0.5s ease-in;

  flex-wrap: wrap;
}

.fab {
  margin-top: 15px;
  position: sticky;
  top: 30%;
  bottom: 4vh;
  width: 25px;
}

@media (max-width: 600px) {
  .list {
    flex-direction: column;
  }

  .container {
    width: 100%;
  }
}