.dark {
  background-color: #121212;
}
#form-file-upload {
  height: 100%;
  width: 100%;
  display: flex;
  text-align: center;
  position: relative;
}
#label-file-upload.drag-active {
  background-color: #ffffff;
}
#input-file-upload {
  display: none;
}

#label-file-upload,
#dark-label-file-upload {
  height: 100%;
  width: 100%;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-radius: 1rem;
  border-style: dashed;
  border-color: #cbd5e1;
  background-color: #f8fafc; /* default background color */
}

#dark-label-file-upload {
  background-color: #333; /* dark mode background color */
}

.upload-button {
  cursor: pointer;
  padding: 0.25rem;
  font-size: 1rem;
  border: none;
  font-family: 'Oswald', sans-serif;
  background-color: transparent;
}

.upload-button:hover {
  text-decoration-line: underline;
}
