.container {
  width: 80%;
  height: 90%;
  display: flex;
  padding: 15px;
  flex-wrap: wrap;
  background-color: #e2e8f0;
  width: 100%;
  justify-content: center;
  height: calc(100vh - 60px);
  overflow-y: auto;
}

.grid {
  width: 90%;
  display: grid;
  gap: 30px;
  grid-auto-rows: 30%;

  grid-template-columns: 1fr 1fr 1fr;
}
.emptyList{
  color: black;
}
.addNote {
  display: flex;
  align-items: center;
  justify-content: 'center';
  height: 250px;
  width: 100%;
  min-width: 250px;
  justify-content: center;
  align-items: center;
  border-radius: 30px !important;
  border: 2px dashed grey;
  color: black;
  transition: all 0.2s ease-in-out;
}

.addNote:hover {
  background-color: darkgrey;
  color: white;
}

@media (max-width: 800px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 30px;
    
  }

  .container {
    width: 100%;
  }
}
