.container {
  width: 90%;
  display: flex;
  flex-direction: column;
}
.text {
  font-weight: 900;
  padding: 15px;
  display: flex;
  align-self: center;
}
.inputs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.input {
  align-self: center;
  display: flex;
  width: 49%;
  padding-bottom: 15px;
}
@media (max-width: 600px) {
  .inputs {
    flex-direction: column;
  }
  .input {
    width: 100%;
  }
}
