.container {
  width: 90%;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  animation: enter 0.5s ease-in;

}

@keyframes enter {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;

  }
}

.text {
  font-weight: 900;
  padding: 15px;
  display: flex;
  align-self: center;
}
.inputs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding-bottom: 20px;
}
.separator {
  border: 2px solid #f0f0f0;
  width: 100%;
}
.input {
  align-self: center;
  display: flex;
  width: 100%;
  padding-bottom: 15px;
}
.inputContainer {
  padding-top: 15px;
  width: 49%;
}
@media (max-width: 600px) {
  .inputs {
    flex-direction: column;
  }
  .inputContainer {
    width: 100%;
  }
}
