.container {
    height: calc(100vh - 70px);
    width: 100%;
    display: flex;
}

.left {
    width: 20%;
}

.right {
    width: 80%;
    display: flex;
    flex-direction: column;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: center;
        gap: 15px
    }

    .left {
        width: 90%;
        max-height: 450px;
    }

    .right {
        width: 90%;

    }
}