* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  text-align: center;
}

.theme_icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.site-title {
  font-size: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav li.active {
  position: relative;
  border-bottom: none;
}

.nav li.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: white;
  transition: width 0.2s ease-in-out;
}

.nav li {
  position: relative;
  width: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
  border-bottom: none;
}

.nav li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 5px;
  background-color: white;
  transition: width 0.2s ease-in-out;
}

.nav li:hover::after {
  width: 100%;
}

@media (max-width: 500px) {
  .site-title {
    font-size: 20px;
  }

  .nav ul {
    display: flex;
    width: 100%;
    align-self: center;
    flex-direction: column;
  }

  .nav li {
    align-self: center;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .nav {
    align-self: center;
  }
}
