.icon {
    letter-spacing: -1px;
    font-size: 14px;
    padding-right: 5px;
}

.GET {
    color: #49bc8d;
}

.POST {
    color: #edc95e;
}

.DELETE {
    color: #f19283;
}

.PUT {
    color: #628dc1;
}

.addIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
}
.removeButton{
    position: absolute;
    top: 0;
}

.title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}