.icon {
    letter-spacing: -1px;
    font-size: 12px;
    margin-right: 5px;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 12px;
    align-items: center;
    display: flex;
}

.GET {
    background-color: #49bc8d;
}

.POST {
    background-color: #edc95e;
}

.DELETE {
    background-color: #f19283;
}

.PUT {
    background-color: #628dc1;
}

.addIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
}

.removeButton {
    position: absolute;
    top: 0;
}

.title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}