.container {
    height: 50%;

}

.customBox {
    margin-top: 15px;
    width: 100%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
   
    border-radius: 2px;

}

.customTabList {
    width: 100%;
    border-bottom: 1px solid #ccc;
    border-color: #ddd;
    align-self: center;
}