/* .text {
  resize: vertical;
  background: url(http://i.imgur.com/2cOaJ.png);
  background-attachment: local;
  background-repeat: no-repeat;
  padding-left: 35px;
  padding-top: 10px;
  height: 100%;
  width: 100%;
  border-color: #ccc;
} */
.text {
  /* resize: vertical;
  height: 100px; */

  min-height: 500px;
  width: 100%;
  /* overflow-y: scroll; */
}
