.container {
    width: 500px;
}

.buttonsContainer {
    display: flex;
    z-index: 150;
    top: 0%;
    right: 0%;
    flex-direction: row-reverse;
    align-self: center;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    clip-path: circle(35% at right 0);
    transition: all 1s;
    background-color: #1976d2;
    border-radius: 5px;
}

.buttonsContainer:hover {
    clip-path: circle(100%);
}

.wrapper {
    width: 97%;
    display: flex;
    flex-direction: column;

    border-radius: 8px;
    margin-top: 16px;
    transition: all 0.3s ease-in-out;
    align-self: center;
    height: calc(100vh - 70px);
    position: relative;
    overflow: hidden;
    /* Clip the overflowing buttonsContainer */
}

/* Add a clip-path to the AceEditor */
.wrapper .reactAce {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 85%);
    /* Adjust the clip path values as needed */
}

.saving {
    position: absolute;
    z-index: 150;
    background-color: #1976d2;
    right: 0;
    top: 50px
}