.custom-highlighted-class {
    border: 2px solid transparent;
    border-radius: 4px;
    animation: flicker 3s ease-in-out;
}

@keyframes flicker {
    0% {
        border-color: transparent;
    }

    25% {
        border-color: #2196f3;
    }

    50% {
        border-color: transparent;
    }

    75% {
        border-color: #2196f3;
    }

    100% {
        border-color: transparent;
    }
}