.container {
  margin: 25px;
  padding: 30px;
  border-radius: 15px;
 
  height: 250px;
  transition: all 0.7s ease-in-out;
  position: relative;
}

.removeItem {
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
}

.date {
  position: absolute;
  bottom: 0px;
  right: 5px;
}

.container:hover {
  transform: scale(1.05);
  transition: 0.7s;
}

.container:hover .removeItem {
  display: block;
}

.input {
  min-height: 50px;
}

.text {
  word-break: break-all;
}
.blurText {
  -webkit-filter: blur(3px);
}
.textContainer {
  overflow: hidden;
  white-space: break-spaces;
  text-overflow: ellipsis;
  height: 90%;
}

@media (max-width: 600px) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }

  .removeItem {
    display: block;
  }

  .container:hover {
    transform: none;
  }
}
