.container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  position: fixed;
  left: 0;
  top: 20%;

}

.icons {
  height: 30px !important;
  width: 30px !important;
}


.iconContainer {
  animation: slideIn 0.8s forwards;
  display: flex;
  flex-direction: column;
  border-radius: 50px !important;
  padding: 10px;
  align-items: center;
  justify-content: center;
}


@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .container {
    margin: 10px;
    position: unset;
  }

  .icons {
    height: 25px !important;
    width: 25px !important;
  }

  .iconContainer {
    flex-direction: row;
    animation: none;
  }
}