.container {
  width: 20%;
  margin-top: 15px;
  overflow: hidden;
  position: sticky;
  top: 0%;
}

.hide {
  width: 0;
}

.addSection {
  width: 90%;
  align-self: center;
  text-transform: none;
}

.drawer {}

@media (max-width: 600px) {
  .container {
    width: 0%;
    display: none;
  }

}