.container {
    gap: 25px
}

.buttons {
    display: flex;
    justify-content: center;
}

.multilineInput {
    width: 100%;
}

.inputs {
    display: flex;
    margin: 25px;
    gap: 25px
}

.input {}

@media (max-width: 600px) {
    .inputs {
        flex-direction: column;

    }

}