.container {
    gap: 25px
}

.buttons {
    display: flex;
    justify-content: center;
}

.multilineInput {
    width: 100%;
}

.inputs {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    gap: 25px
}

.shareInput {
    width: 40%
}

@media (max-width: 600px) {
    .inputs {
        flex-direction: column;

    }

    .shareInput {
        width: 100%;
    }

}