.container {
    width: 100%;
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 15px !important;

}

.input {
    width: 100%;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }

}