.container {
  width: 100%;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropDown {
  width: 50%;
}

.dropDownContainer {
  padding-left: 5%;
  width: 40%;
  align-self: center;
}

.textField {
  padding-top: 0;
  width: 100% !important;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .dropDownContainer,
  .textField {
    width: 100%;
    padding-left: 0;

    padding-bottom: 15px;
  }
}