.items {
  flex: 1;
}

.siteTitle {
  flex: 8;
  display: flex;
  align-items: center;
}

.reload {
  margin-left: 15px;
}

.title {
  width: 120px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
}