.container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 70px);
  overflow: hidden;
}
.options {
  height: 100%;
  width: 40%;
  overflow-y: auto;
}
.demo {
  display: flex;
  width: 100%;
  height: calc(100vh - 70px);
  transition: all 0.5s ease;
}
@media (max-width: 700px) {
  .container {
    flex-direction: column;
    height: 100%;
    overflow: none;
  }
  .options {
    width: 100%;
    overflow-y: none;
  }
}
