.container {
  width: 100%;
  margin: 25px;
  transition: all 0.7s ease-in-out;
  animation: enter 0.9s ease-in-out;
}

.disabled {
  cursor: default;
}

.container:not(.disabled):hover {
  transform: scale(1.1);
  transition: 0.7s;
  cursor: pointer;
}

@media (max-width: 600px) {
  .container:not(.disabled):hover {
    transform: none;
  }
}

.content {
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

@keyframes enter {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
