.container {
  width: 100%;
  margin: 25px;
  transition: all 5s ease-in-out;
}

.container:not(.disabled):hover {
  transform: scale(1.05);
  cursor: pointer;
}

.disabled {
  cursor: default;
}

@media (max-width: 600px) {
  .container:not(.disabled):hover {
    transform: none;
  }
}
.content {
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
