:root {
  --borderColor: #03a9f3;
}

.border {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  margin-top: 5%;
  margin-bottom: 5%;
}

.container {
  width: 100%;
  border-radius: 15px !important;
  height: 100%;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

.container:hover {
  box-shadow: 0 0 10px var(--borderColor);
}

.container .desc {
  opacity: 1;
  height: 100%;
  transition: opacity 0.7s ease-in-out, height 0.7s ease-in-out;
}

.container:hover .desc {
  opacity: 0;
  height: 0;
}

.container:hover .content {
  justify-content: center;
}

.disabled {
  cursor: default;
}

.content {
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  transition: all 0.7s ease-in-out;
  min-height: 160px;
  text-align: center;

}

.container:hover .launch {
  right: 45%;

}

.launch {
  position: absolute;
  bottom: 5px;
  right: 10%;
  transition: right 0.4s ease-in-out,

}

@media (max-width: 600px) {
  .launch {
    position: unset;
    padding-top: 15px;
  }

  .container:hover {
    transition: none;
    transform: none;
  }

  .content {
    flex-direction: column;
  }
}