.container {}

.input {
  width: 100%;

}

.title {
  padding-bottom: 15px;
}

.buttonContainer {
  padding-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.button {
  width: 80px;
  margin: 20px !important;
}