.container {
  width: 50px;
  display: flex;
  border: solid 2px black;
  justify-content: center;
  height: 50px;
  cursor: pointer;
  align-items: center;
  animation: enter 0.3s ease-in-out;
}
.container.selected {
  background-color: #3776ce;
  color: white;
  border: 1px solid black;
  pointer-events: none;
}
.container:not(.selected):hover {
  background-color: cadetblue;
}
@keyframes enter {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
