.inputs {
  justify-content: center;
  display: flex;
  align-self: center;
  width: 90%;
  padding: 10px;
  border: solid black 2px;
  border-radius: 15px;
  flex-direction: row;
}
.buttonContainer {
  padding-left: 15px;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  min-width: 20%;
  flex: 1;
}
button {
  height: 50px;
}
.subContainer {
  align-self: center;
  height: 100%;
  width: 100%;
}
.input {
  display: flex;
  flex: 4;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.button {
  width: 100%;
}
.reset {
  width: 100%;
  flex-direction: row;
  padding-top: 10px;
}
.checkBox {
  display: flex;
  align-self: center;
}
@media (max-width: 600px) {
  .inputs {
    flex-direction: column;
  }
  .buttonContainer {
    padding-left: 0px;
    padding-top: 15px;
  }
}
