.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.title {
  padding: 25px;
  padding-right: 0px;
  align-self: center;
  text-align: center;
}

.separator {
  height: 1px;
  flex: 1;
  background-color: gray;
}

.disabled {
}
