:global(::-webkit-scrollbar) {
  width: 6px;
  height: 6px;
}

:global(::-webkit-scrollbar-track) {
  -webkit-box-shadow: inset 0 0 6px #1976d2;
  border-radius: 10px;
}

:global(::-webkit-scrollbar-thumb) {
  border-radius: 10px;
  background-color: #1976d2;
}

:global #g_a11y_announcement {
  display: none;
}

@keyframes enter {
  0% {
      opacity: 0;
      transform: translateY(-10px);
  }

  100% {
      opacity: 1;
      transform: translateY(0);
  }
}