.container {
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  flex-grow: 1;
  animation: enter 0.3s ease-in;

}

@keyframes enter {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;

  }
}


.separator {
  border: 2px solid #f0f0f0;
  width: 100%;
}

.headline {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.title {
  padding: 25px;
  padding-bottom: 0;
}
.history {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
