.container {
    margin-top: 10px;

}

.row {
    display: flex;
    gap: 15px;
    margin-top: 10px;
    overflow-x: auto;
    width: 90vw;
    align-items: center;
}

.options {
    display: flex;
    gap: 15px;
    align-items: center;
}