.container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 95%;
  align-self: center;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  width: 50%;
  font-size: min(5vw, 25px);
  transition: background-color 0.3s ease;
}

.button:not(.selected):hover {
  background-color: #333;

}

.selected {
  background-color: #3776ce;
  color: #fff;
}