.container {
    height: 50%;
}

.inputContainer {
    height: 50%;
    display: flex;
    justify-content: center;
}

.paramsContainer {
    height: 50%;
}

.input {
    width: 100%;
}

.GET {
    color: #49bc8d;
}

.POST {
    color: #edc95e;
}

.DELETE {
    color: #f19283;
}

.PUT {
    color: #628dc1;
}
.proxyInput{
   color: #ff6b36;
}
@media (max-width: 600px) {
    .inputContainer {
        flex-direction: column;
    }

    .input {
        margin-top: 15px !important;
    }
}